.ant-tabs-tab {
    margin: 0 !important;
    border-radius: 0 !important;
  }
  .ant-tabs-tab {
    margin: 0 !important;
  }
  .ant-tabs-tab.ant-tabs-tab-active {
    background-color: #2b3173 !important;
    color: #fff !important;
  }