.pagination-custom {
  display: flex;
  position: fixed;
  bottom: 0;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;

  .pagination-custom-container {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
