.item-action {
  padding: 8px;
  color: #fff;
  border-right: 1px solid black;
  cursor: pointer;
}
:root {
  --table-height: 100vh;
}
.table-custom {
  height: 100%;

  .ant-table-thead > tr > .ant-table-cell {
    padding: 0 !important;
  }

  .ant-table-body {
    height: 76vh;
  }
}
.action-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.table-custom-action {
  display: flex;
  width: 100%;
  background-color: rgb(0, 87, 123);
}
.item-cell {
  font-size: 12px !important;
}
