* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.span {
  font-size: 11px;
}

.custom-disabled {
  color: #bfbfbf; /* Màu chữ cho phần tử disabled */
  cursor: not-allowed !important; /* Con trỏ chuột khi hover */
}
