* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
  font-weight: lighter;
}
h3 {
  font-size: 15px;
  font-weight: lighter;
}
h4 {
  font-size: 13px;
  font-weight: bold;
}
p {
  font-size: 13px;
}
span {
  font-size: 11px;
} */
.span {
  font-size: 11px;
}
